#### [jw0831 github 링크](https://github.com/jw0831)

In [2]:
# 제주도 시각화
## 맛집 / 상권

In [3]:
import re
import numpy as np
import pandas as pd

In [6]:
rdf=pd.read_csv("total_review_senti.csv")

In [7]:
ldf=pd.read_csv("jeju_list.csv")

In [12]:
print(len(rdf))
rdf.head()

254

,store,total review,good service,bad service,good traffic,bad traffic,good cost,bad cost,good taste,bad taste,good_senti,bad_senti
0,상춘재,355,100,0,0,0,67,33,75,25,3,1
1,남양수산,108,50,50,0,0,100,0,77,23,3,1
2,선흘곶,163,20,80,0,0,25,75,80,20,2,2
3,스시호시카이,105,0,100,0,0,100,0,77,23,2,2
4,미영이네식당,311,0,0,0,0,75,25,59,41,2,1

In [14]:
print(len(ldf))
ldf.head() #부족한건 - 슬래시로 fillna

256

,가게명,대분류,중분류,소분류,mean_score,주소,Latitude,Longitude
0,상춘재,식당,한식,"돌문어 비빔밥, 게장",4.1,제주특별자치도 제주시 조천읍 선진길 26,33.458659,126.704844
1,남양수산,식당,일식,"회, 고등어",4.6,제주특별자치도 서귀포시 성산읍 고성동서로56번길 11,33.450135,126.914224
2,선흘곶,식당,한식,정통 한정식,4.5,제주특별자치도 제주시 조천읍 동백로 102,33.508187,126.718049
3,스시호시카이,식당,일식,"회, 초밥, 오마카세",4.6,제주특별자치도 제주시 오남로 90,33.481286,126.516769
4,미영이네식당,식당,일식,"회, 고등어, 방어, 참치",4.5,제주특별자치도 서귀포시 대정읍 하모항구로 42,33.217651,126.249904

In [15]:
rdf.rename(columns={"store":"가게명"}, inplace=True)

In [16]:
rdf

,가게명,total review,good service,bad service,good traffic,bad traffic,good cost,bad cost,good taste,bad taste,good_senti,bad_senti
0,상춘재,355,100,0,0,0,67,33,75,25,3,1
1,남양수산,108,50,50,0,0,100,0,77,23,3,1
2,선흘곶,163,20,80,0,0,25,75,80,20,2,2
3,스시호시카이,105,0,100,0,0,100,0,77,23,2,2
4,미영이네식당,311,0,0,0,0,75,25,59,41,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
249,살롱 드 라방,5,100,0,0,0,100,0,100,0,4,0
250,성읍 칠십리식당,0,0,0,0,0,0,0,0,0,0,0
251,제주시새우리,36,0,0,100,0,0,0,25,75,2,1
252,다정이네,17,0,0,0,0,100,0,100,0,2,0
253,파도소리해녀촌,23,0,0,0,0,0,0,60,40,1,0

In [19]:
lldf=ldf.set_index('가게명')

In [20]:
rrdf=rdf.set_index('가게명')

In [35]:
df=pd.concat([lldf, rrdf], axis=1, sort=False)

In [41]:
df=df[df['Latitude'].isnull()==False]

In [46]:
df

,대분류,중분류,소분류,mean_score,주소,Latitude,Longitude,total review,good service,bad service,good traffic,bad traffic,good cost,bad cost,good taste,bad taste,good_senti,bad_senti
상춘재,식당,한식,"돌문어 비빔밥, 게장",4.1,제주특별자치도 제주시 조천읍 선진길 26,33.458659,126.704844,355.0,100.0,0.0,0.0,0.0,67.0,33.0,75.0,25.0,3.0,1.0
남양수산,식당,일식,"회, 고등어",4.6,제주특별자치도 서귀포시 성산읍 고성동서로56번길 11,33.450135,126.914224,108.0,50.0,50.0,0.0,0.0,100.0,0.0,77.0,23.0,3.0,1.0
선흘곶,식당,한식,정통 한정식,4.5,제주특별자치도 제주시 조천읍 동백로 102,33.508187,126.718049,163.0,20.0,80.0,0.0,0.0,25.0,75.0,80.0,20.0,2.0,2.0
스시호시카이,식당,일식,"회, 초밥, 오마카세",4.6,제주특별자치도 제주시 오남로 90,33.481286,126.516769,105.0,0.0,100.0,0.0,0.0,100.0,0.0,77.0,23.0,2.0,2.0
미영이네식당,식당,일식,"회, 고등어, 방어, 참치",4.5,제주특별자치도 서귀포시 대정읍 하모항구로 42,33.217651,126.249904,311.0,0.0,0.0,0.0,0.0,75.0,25.0,59.0,41.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
살롱 드 라방,카페,NaN,NaN,2.9,제주특별자치도 제주시 애월읍 하가리 1415,33.457871,126.349006,5.0,100.0,0.0,0.0,0.0,100.0,0.0,100.0,0.0,4.0,0.0
성읍 칠십리식당,식당,한식,"흑돼지, 꿩",2.9,제주특별자치도 서귀포시 표선면 성읍리 580,33.411299,126.781926,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
제주시새우리,식당,한식,"딱새우, 전복김밥",2.9,제주특별자치도 제주시 삼도2동 1098-3,33.514671,126.520501,36.0,0.0,0.0,100.0,0.0,0.0,0.0,25.0,75.0,2.0,1.0
다정이네,식당,한식,"김밥, 멸치김밥, 분식",2.9,제주특별자치도 서귀포시 서귀동 255-7,33.249455,126.566979,17.0,0.0,0.0,0.0,0.0,100.0,0.0,100.0,0.0,2.0,0.0
파도소리해녀촌,식당,한식,"보말칼국수, 보말죽",2.8,제주특별자치도 제주시 우도면 874-2,33.506491,126.953361,23.0,0.0,0.0,0.0,0.0,0.0,0.0,60.0,40.0,1.0,0.0

In [51]:
df.reset_index(inplace=True)

In [52]:
df.rename(columns={"index":"가게명"}, inplace=True)

/Users/jinwon-kim/Developer/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [57]:
df.fillna("-",inplace=True)

/Users/jinwon-kim/Developer/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   가게명           256 non-null    object
 1   대분류           256 non-null    object
 2   중분류           256 non-null    object
 3   소분류           256 non-null    object
 4   mean_score    256 non-null    float64
 5   주소            256 non-null    object
 6   Latitude      256 non-null    float64
 7   Longitude     256 non-null    float64
 8   total review  256 non-null    object
 9   good service  256 non-null    object
 10  bad service   256 non-null    object
 11  good traffic  256 non-null    object
 12  bad traffic   256 non-null    object
 13  good cost     256 non-null    object
 14  bad cost      256 non-null    object
 15  good taste    256 non-null    object
 16  bad taste     256 non-null    object
 17  good_senti    256 non-null    object
 18  bad_senti     256 non-null    object
dtypes: float64(3), object(16)
memory usage: 38.1+ KB

In [59]:
df

,가게명,대분류,중분류,소분류,mean_score,주소,Latitude,Longitude,total review,good service,bad service,good traffic,bad traffic,good cost,bad cost,good taste,bad taste,good_senti,bad_senti
0,상춘재,식당,한식,"돌문어 비빔밥, 게장",4.1,제주특별자치도 제주시 조천읍 선진길 26,33.458659,126.704844,355,100,0,0,0,67,33,75,25,3,1
1,남양수산,식당,일식,"회, 고등어",4.6,제주특별자치도 서귀포시 성산읍 고성동서로56번길 11,33.450135,126.914224,108,50,50,0,0,100,0,77,23,3,1
2,선흘곶,식당,한식,정통 한정식,4.5,제주특별자치도 제주시 조천읍 동백로 102,33.508187,126.718049,163,20,80,0,0,25,75,80,20,2,2
3,스시호시카이,식당,일식,"회, 초밥, 오마카세",4.6,제주특별자치도 제주시 오남로 90,33.481286,126.516769,105,0,100,0,0,100,0,77,23,2,2
4,미영이네식당,식당,일식,"회, 고등어, 방어, 참치",4.5,제주특별자치도 서귀포시 대정읍 하모항구로 42,33.217651,126.249904,311,0,0,0,0,75,25,59,41,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,살롱 드 라방,카페,-,-,2.9,제주특별자치도 제주시 애월읍 하가리 1415,33.457871,126.349006,5,100,0,0,0,100,0,100,0,4,0
252,성읍 칠십리식당,식당,한식,"흑돼지, 꿩",2.9,제주특별자치도 서귀포시 표선면 성읍리 580,33.411299,126.781926,0,0,0,0,0,0,0,0,0,0,0
253,제주시새우리,식당,한식,"딱새우, 전복김밥",2.9,제주특별자치도 제주시 삼도2동 1098-3,33.514671,126.520501,36,0,0,100,0,0,0,25,75,2,1
254,다정이네,식당,한식,"김밥, 멸치김밥, 분식",2.9,제주특별자치도 서귀포시 서귀동 255-7,33.249455,126.566979,17,0,0,0,0,100,0,100,0,2,0
255,파도소리해녀촌,식당,한식,"보말칼국수, 보말죽",2.8,제주특별자치도 제주시 우도면 874-2,33.506491,126.953361,23,0,0,0,0,0,0,60,40,1,0

In [60]:
df.to_csv("jeju_emo_list.csv",index=False, encoding='utf-8-sig')