In [1]:
import sqlite3

In [2]:
# database 연결
conn=sqlite3.connect("emp.db") #연결하는 명령
# 기존에 emp.db파일(database)이 없다면 -> 새롭게 생성하고 연결
# 기존에 emp.db파일(database)이 있다면 -> 연결을 진행

In [3]:
# CREATE TABLE
# conn.execute('공용어 (SQL) 활용')
# 데이터베이스 객체 변수를 이용햐여 테이블 설계, 테이블 명은 emp_data로 하여라
# create table 테이블명(컬럼1 타입, 컬럼2 타입, ..., 컬럼n 타입)
conn.execute('create table emp_data(id integer, name text, nickname text, department text, employment_date text)')
# nick name 이렇게 공백이 생기면 안된다. nick_name 공백으로 구분을 짖는 명령어기 때문에 2개의 공백은 허용되지 않는다!
# 같은 이름의 테이블은 두번이상 생성이 안된다!

In [4]:
# cursor 를 이용한 데이터 추가
# cursor 생성
cur=conn.cursor()

In [5]:
# data 추가
# data 를 한개 추가할때는 execute(), 여러개는 executemany()
# insert into 테이블명 values (?, ?, ?, ?, ... , ?)
###### execute ######
# cur.execute('insert into 테이블명 values ('a', 100)') 컬럼이 2개일 경우
# cur.execute('insert into 테이블명 values (?,?)', ('a', 100)) 뒤에 a 와 100이 물음표로 전달되는 방법
###### executemany ######
# data=[('a',100),('b',200)]
# cur.executemany('insert into 테이블명 values (?,?)', data)

cur.executemany(
'insert into emp_data values (?,?,?,?,?)',
    [(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
     (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
     (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
     (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
     (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')
    ]
)

In [6]:
# emp_data테이블로 부터 모든 데이터를 가져와라 -> 가져온 데이터 -> cur가 데이터를 가리키고 있음
cur.execute('select * from emp_data')

In [7]:
# cur가 가리키고 있는 위치부터 데이터를 하나씩 읽어내려가면서 row에 저장
for row in cur:
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [12]:
# 데이터베이스 저장
conn.commit()
# 데이터베이스 연결 종료
conn.close()

---
### 다시 연결

In [48]:
# database 연결
conn=sqlite3.connect("emp.db") #연결하는 명령
# 기존에 emp.db파일(database)이 없다면 -> 새롭게 생성하고 연결
# 기존에 emp.db파일(database)이 있다면 -> 연결을 진행

In [49]:
cur=conn.cursor()

In [50]:
# emp_data테이블로 부터 모든 데이터를 가져와라 -> 가져온 데이터 -> cur가 데이터를 가리키고 있음
cur.execute('select * from emp_data')

In [51]:
# cur가 가리키고 있는 위치부터 데이터를 하나씩 읽어내려가면서 row에 저장
for row in cur:
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [45]:
# emp_data테이블로 부터 모든 데이터를 가져와라 -> 가져온 데이터 -> cur가 데이터를 가리키고 있음
cur.execute('select * from emp_data')

In [46]:
# data를 가져올때 fetchall() 명령을 사용할 수 있다.
rows=cur.fetchall()
print(rows)

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'), (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'), (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'), (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'), (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [52]:
# 데이터베이스 저장
conn.commit()
# 데이터베이스 연결 종료
conn.close() #닫아주는게 리소스 관리 차원에서 여러모로 좋다.

---
### Database를 데이터프레임으로 불러오는 작업

In [53]:
# database 연결
conn=sqlite3.connect("emp.db") #연결하는 명령
# 기존에 emp.db파일(database)이 없다면 -> 새롭게 생성하고 연결
# 기존에 emp.db파일(database)이 있다면 -> 연결을 진행

In [54]:
cur=conn.cursor()

In [55]:
# emp_data테이블로 부터 모든 데이터를 가져와라 -> 가져온 데이터 -> cur가 데이터를 가리키고 있음
cur.execute('select * from emp_data')

In [56]:
# data를 가져올때 fetchall() 명령을 사용할 수 있다.
rows=cur.fetchall()
print(rows)

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'), (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'), (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'), (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'), (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [57]:
rows

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
 (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
 (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
 (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
 (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [58]:
# 컬럼의 이름을 확인 
# 튜플안에 튜플이 5개 들어가 있는것을 확인
cur.description

(('id', None, None, None, None, None, None),
 ('name', None, None, None, None, None, None),
 ('nickname', None, None, None, None, None, None),
 ('department', None, None, None, None, None, None),
 ('employment_date', None, None, None, None, None, None))

In [59]:
# 컬럼명 추출
cols=[column[0] for column in cur.description]

In [60]:
cols

['id', 'name', 'nickname', 'department', 'employment_date']

In [61]:
import pandas as pd
import numpy as np

In [62]:
df=pd.DataFrame.from_records(data=rows, columns=cols)

In [63]:
df

   id     name nickname   department          employment_date
0   1  gildong       gd    marketing  2020-10-06 10:36:00.000
1   2  sunshin       ss    marketing  2019-10-06 10:36:00.000
2   3    yusin       ys  development  2020-01-06 10:36:00.000
3   4   sejong       sj    marketing  2020-05-06 10:36:00.000
4   5     bogo       bg  development  2020-07-06 10:36:00.000

---
### 테이블 제거
- drop table 테이블명

In [64]:
conn.execute('drop table emp_data')

In [65]:
conn.close()

연결해서 확인해보기

In [66]:
# database 연결
conn=sqlite3.connect("emp.db") #연결하는 명령
# 기존에 emp.db파일(database)이 없다면 -> 새롭게 생성하고 연결
# 기존에 emp.db파일(database)이 있다면 -> 연결을 진행

In [67]:
cur=conn.cursor()

In [68]:
# emp_data테이블로 부터 모든 데이터를 가져와라 -> 가져온 데이터 -> cur가 데이터를 가리키고 있음
cur.execute('select * from emp_data')

OperationalError: no such table: emp_data

Table 이 없어진것을 확인

## exercise 2

In [ ]:
conn=sqlite3.connect("dbtest.db")
# 안드로이드 운영체제에도 sqlite사용됨

In [69]:
cur=conn.cursor()
cur.execute('create table test (name text, jumsu int)')

In [70]:
cur.execute("insert into test values ('sunshin', 100)") 
# 중요!!!
# 왜 sunshin에서 에러처럼 이름색이 다를까? 
# sql명령문에서 문자데이터를 인식할때 구문오류를 없에기 위해서 바깥쪽을 " 곁따옴표로 묶고 안에 문자를 홀따옴표로 묶어준다 "

In [71]:
cur.execute('select * from test')

In [72]:
for row in cur:
    print(row)

('sunshin', 100)

In [73]:
cur.execute("insert into test values (?,?)", ('sunshin', 100))

In [74]:
cur.execute('select * from test')

In [75]:
# data를 가져올때 fetchall() 명령을 사용할 수 있다.
rows=cur.fetchall()
print(rows)

[('sunshin', 100), ('sunshin', 100)]

In [76]:
cur.execute("update test set jumsu=90 where name='sunshin'")
# update 테이블명 set 컬럼 = 변경값 where 조건식
# 테이블로부터 조건식에 해당되는 데이터의 컬럼 값을 변경값으로 바꾸어라

In [77]:
cur.execute('select * from test')
rows=cur.fetchall()
rows

[('sunshin', 90), ('sunshin', 90)]

## pandas 데이터프레임 -> sqlite 테이블로 저장

In [78]:
data={'c1':[1,2,3],
     'c2':[11,21,31],
     'c3':[12,22,32]}

In [79]:
data
df=pd.DataFrame(data)
df

   c1  c2  c3
0   1  11  12
1   2  21  22
2   3  31  32

In [80]:
conn=sqlite3.connect('cvTable.db')

df를 cvTable데이터베이스에 mytable 테이블로 저장

In [81]:
df.to_sql('mytable', conn)

In [82]:
cur=conn.cursor()

In [83]:
cur.execute("select * from mytable") # *은 전체 컬럼

In [84]:
rows=cur.fetchall()
rows

[(0, 1, 11, 12), (1, 2, 21, 22), (2, 3, 31, 32)]

In [85]:
cur.execute("select c1,c2 from mytable")

In [86]:
rows=cur.fetchall()
rows

[(1, 11), (2, 21), (3, 31)]