# ë°ì´í„°í”„ë ˆì„ ê²°í•©
### ê¹ƒí—™ ì£¼ì†Œ: github.com/jw0831

In [1]:
import numpy as np
import time
import re
import pandas as pd
import random

___

In [3]:
df1=pd.read_csv("naver_review_crawling1.csv")
df1.head()

,name,star_score,star_count,review_count,review_data
0,ìƒì¶˜ì¬,4.50,484,199,"['ì¹œì ˆí•´ìš”', 'ë©ê°œë¹„ë¹”ë°¥ ì§„ì§œ ë§›ìˆì–´ìš” ê³ ë“±ì–´ êµ¬ì´ ë¹„ì‹¼ë° ì‚´ì‚´ ë…¹ì•„ìš”â™¡', '..."
1,ë‚¨ì–‘ìˆ˜ì‚°,4.60,109,39,"['ê³ ë“±ì–´íšŒ, ì§€ë¦¬ ìµœê³ ì—ìš”', 'ì§€ë¦¬ëŠ”ê¼­ë“œì„¸ìš”.. íšŒë¨¹ë‹¤ê°€ ì§€ë¦¬ë‹¬ë¼ê³ í•˜ì‹œë©´ ì£¼ì‹œë”..."
2,ì„ í˜ê³¶,4.45,238,95,['3ë…„ì „ë¶€í„° ë§¤ë…„ê°”ëŠ”ë° ì ì ë§›ì´ë³€í•´ê°€ë„¤ìš” ë°˜ì°¬ì´ì˜~~ ë³´ìŒˆê³ ê¸°ê°€ë„ˆë¬´ í½í½í•´ìš” ì´...
3,ìŠ¤ì‹œí˜¸ì‹œì¹´ì´,4.66,31,14,"['ì™„ë²½', 'ë„ˆë¬´ ë§›ìˆì–´ìš”â¤ï¸ğŸ§¡ğŸ’›ğŸ’šğŸ’™ğŸ’œ', 'ì‹ í˜¼ì—¬í–‰ ë§ˆì§€ë§‰ë‚ ì €ë…ì„ ì¥ì‹í•œ ì˜¤ë§ˆ..."
4,ë¯¸ì˜ì´ë„¤ì‹ë‹¹,4.56,480,208,"['ë°©ì–´,ì°¸ì¹˜ ë¨¹ëŠ” ë§› ã…‹ã…‹ íšŒì•Œëª»ë„ ë§›ìˆê²Œ ë¨¹ìŒ. íšŒë¨¹ìœ¼ëŸ¬ ê°”ë‹¤ íƒ•ì— ë°˜í•´ì˜´ ë“ ë“ ..."

In [4]:
df2=pd.read_csv("naver_review_crawling2.csv")
df2.head()

,name,star_score,star_count,review_count,review_data
0,ì¹ ëˆê°€,4.34,399,129,['ì„¸ìƒì— ì´ë ‡ê²Œ ë°”ì˜ê³ ì¥ì‚¬ ì˜ë˜ëŠ”ë°ë„ ì „ì§ì›ì´ í•˜ë‚˜ê°™ì´ ë‹¤ ì¹œì ˆí•œê±´ ì§„ì§œ ë†€ë¼ìš´...
1,ì¶˜ì‹¬ì´ë„¤,4.44,843,294,"['êµ¿~~~~~~~~~', 'ì—¬ì¹œì´ë‘ ë‘˜ì´ ê°”ëŠ”ë° ë„ˆë¬´ ë§›ìˆê²Œë¨¹ì—ˆì–´ìš” ê°ˆì¹˜ë¼ˆ ë°œë¼ì£¼..."
2,ì¼í†µì´ë°˜,4.28,259,98,"['ë³´ë§ì£½ì€ ê¼­ ë¨¹ì–´ë³´ì„¸ìš”. ì „ë³µì£½ê³¼ëŠ” ë‹¤ë¥¸ í’ë¯¸ì¸ë° ì”¹ì„ìˆ˜ë¡ ê³ ì†Œí•©ë‹ˆë‹¤', 'ë¦¬ë·°..."
3,ì˜¤ëŠ”ì •ê¹€ë°¥,4.24,347,122,"['ì¢‹ì•„ìš”', 'ê¸°ëŒ€ì´ìƒ ë§›ìˆìŠµë‹ˆë‹¤', 'ì „í™”í•˜ì§€ì•Šê³ ì°¾ì•„ê°€ì„œ êµ¬ì…í–ˆì–´ìš” ë§›ìˆìŠµë‹ˆë‹¤..."
4,ë§ˆë§ˆë¡±,4.53,131,47,"['ë¹„ì˜¬ë•Œ ë” ì¢‹ì€ê³³', 'í‘ì„ì ì—í¬ë ˆì–´ ë§›ìˆìŒ', 'ë°”ë°”ëŠ” ì•„ì‰½ê³ , ìƒë˜ë…¸ë ˆëŠ” ..."

In [7]:
df3=pd.read_csv("naver_review_crawling3.csv")
df3.head()

,name,star_score,star_count,review_count,review_data
0,ì„­ì§€ì½”ì§€ë¡œ,4.35,271,115,"['í¬ì¥í•´ì„œë¨¹ì—ˆì–´ìš” ë”±ìƒˆìš°ì‹±ì‹±í•˜ê³ ë§›ìˆë„¤ìš” ã…ã…', 'ê°€ê²Œê°€ ì‘ì•„ì„œ ì•„ì‰¬ì›Œìš”! í°ê°€ê²Œ..."
1,ë§Œì„ ì‹ë‹¹,4.38,177,71,"['ê³ ë“±ì–´íšŒ êµ¿!!! ë§›ìˆì–´ìš”', 'ì œì£¼ë„ ë†€ëŸ¬ê°”ë‹¤ê°€ ê³ ë“±ì–´íšŒ ë¨¹ì—ˆëŠ”ë° ì§„ì§œ ì‹ ì„ í•˜..."
2,ë¬´ê±°ë²„ê±°,4.44,413,165,"['ë·°ë„ ì¢‹ê³ ë§›ë„ ì¢‹ì•„ìš”', 'ë‹¹ê·¼ë²„ê±° ê¸°ê°€ë§‰íˆë„¤ìš”~ë¶„ìœ„ê¸°ê¹¡íŒ¨~~', 'ë‹¹ê·¼ë§›ì„ ..."
3,í¬ë„í˜¸í…”ë ˆìŠ¤í† ë‘,4.83,6,1,"['ê°€ê²©ëŒ€ëŠ” ìˆì§€ë§Œ,ìš°ë™ ë„˜ ë§›ìˆì–´ìš”~ ìŠ¤í‚¤ì•¼í‚¤ìš°ë™ ê°•ì¶”']"
4,ë½ˆì‚´ì§‘,4.61,227,99,"['ê°œì¡´ë§›ì§‘ì´ì—ìš”', 'ì •ë§ êµ¿^^', 'ì§€ì¸ë“¤ì´ ì¶”ì²œí•´ì„œ ê°”ì–´ìš” 30ë¶„ì›¨ì´íŒ…í–ˆê³ ..."

In [8]:
df4=pd.read_csv("naver_review_crawling_fc.csv")
df4.head()

,name,star_score,star_count,review_count,review_data
0,ì œì£¼ë§¥ì£¼,4.53,"1,058",960,"['ê·¼ì²˜ì— ìˆë‹¤ë©´ ê°€ë³¼ë§Œí•œì§‘', 'ì¢‹ì•„ìš”', 'ì¢‹ì•„ìš”', 'ì–‘ì¡°ì¥ íˆ¬ì–´ ì¬ë°Œì–´ìš” ë§¥..."
1,ì´ë‹ˆìŠ¤í”„ë¦¬ì œì£¼í•˜ìš°ìŠ¤,4.49,"1,599",543,"['ìƒê°ë³´ë‹¤ ì´ë»ìš” ê°€ë³´ì„¸ìš”', 'ì¢‹ì•„ìš”! ì£¼ë³€ë„ ë„ˆë¬´ ì´ì˜ê³ !', 'ëŠ˜ ì¢‹ì•„ìš”^^..."
2,ê´‘ë™ì‹ë‹¹,4.37,22,15,"['ë ˆì „ë“œ', 'ë³„ì ì´ 5ê°œë°–ì—ì—†ëŠ”ê²Œ í†µíƒ„ìŠ¤ëŸ¬ì›Œìš”.. ì‚¬ì¥ë‹˜ ë„˜ í›„í•˜ì‹œê³ ê³ ê¸° ë¬´í•œ..."
3,ì‚¼ì˜ì‹ë‹¹,4.53,28,19,"['ì§„ì§œ í˜„ì§€ì¸ ë§›ì§‘ì…ë‹ˆë‹¤ ëª¸êµ­ì¶”ì²œí•©ë‹ˆë‹¤', 'ëª¸êµ­ ë§›ìˆì–´ìš”~', 'êµ¿', 'í˜„ì§€ì¸..."
4,í’ë¦¼ë‹¤ë°©,4.32,826,370,['ë‹¤ ì¢‹ì€ë° ë„ˆë¬´ ë³µì¡í•´ìš” ë°–ì— í…Œì´ë¸”ì„ ë” ë†¨ìœ¼ë©´ ì¢‹ê² ì–´ìš”!!! ê°„ì´ ì˜ìë¼ë„ ...

In [10]:
df=pd.concat([df1,df2,df3,df4], axis=0)

In [25]:
df.reset_index(inplace=True)

In [32]:
df[df['name']=="ì•ˆê±°ë¦¬ë°–ê±°ë¦¬"]

,index,name,star_score,star_count,review_count,review_data
135,86,ì•ˆê±°ë¦¬ë°–ê±°ë¦¬,4.29,206,0,[]
198,11,ì•ˆê±°ë¦¬ë°–ê±°ë¦¬,4.29,206,86,['ì˜¬ë ˆê¸¸ 6ì½”ìŠ¤..ë§¤ì¼ì˜¬ë ˆì‹œì¥ ì°¾ì•„ê°€ë‹¤ ì†ë‹˜ë“¤ì´ ë§ê¸¸ë˜ ë“¤ì–´ê°”ë‹¤. ë”ë°°ê³ ê¸°.ì˜¥ë”êµ¬...

In [37]:
df.drop(135, inplace=True)

In [39]:
df.drop(columns=['index'], inplace = True)

In [40]:
df

,name,star_score,star_count,review_count,review_data
0,ìƒì¶˜ì¬,4.50,484,199,"['ì¹œì ˆí•´ìš”', 'ë©ê°œë¹„ë¹”ë°¥ ì§„ì§œ ë§›ìˆì–´ìš” ê³ ë“±ì–´ êµ¬ì´ ë¹„ì‹¼ë° ì‚´ì‚´ ë…¹ì•„ìš”â™¡', '..."
1,ë‚¨ì–‘ìˆ˜ì‚°,4.60,109,39,"['ê³ ë“±ì–´íšŒ, ì§€ë¦¬ ìµœê³ ì—ìš”', 'ì§€ë¦¬ëŠ”ê¼­ë“œì„¸ìš”.. íšŒë¨¹ë‹¤ê°€ ì§€ë¦¬ë‹¬ë¼ê³ í•˜ì‹œë©´ ì£¼ì‹œë”..."
2,ì„ í˜ê³¶,4.45,238,95,['3ë…„ì „ë¶€í„° ë§¤ë…„ê°”ëŠ”ë° ì ì ë§›ì´ë³€í•´ê°€ë„¤ìš” ë°˜ì°¬ì´ì˜~~ ë³´ìŒˆê³ ê¸°ê°€ë„ˆë¬´ í½í½í•´ìš” ì´...
3,ìŠ¤ì‹œí˜¸ì‹œì¹´ì´,4.66,31,14,"['ì™„ë²½', 'ë„ˆë¬´ ë§›ìˆì–´ìš”â¤ï¸ğŸ§¡ğŸ’›ğŸ’šğŸ’™ğŸ’œ', 'ì‹ í˜¼ì—¬í–‰ ë§ˆì§€ë§‰ë‚ ì €ë…ì„ ì¥ì‹í•œ ì˜¤ë§ˆ..."
4,ë¯¸ì˜ì´ë„¤ì‹ë‹¹,4.56,480,208,"['ë°©ì–´,ì°¸ì¹˜ ë¨¹ëŠ” ë§› ã…‹ã…‹ íšŒì•Œëª»ë„ ë§›ìˆê²Œ ë¨¹ìŒ. íšŒë¨¹ìœ¼ëŸ¬ ê°”ë‹¤ íƒ•ì— ë°˜í•´ì˜´ ë“ ë“ ..."
...,...,...,...,...,...
194,ë³´ì—,4.36,60,22,"['ë²„í„°í”„ë ˆì²¼, ì˜¬ë¦¬ë¸Œì¹˜ì•„ë°”íƒ€ ì•„ëª¬ë“œí¬ë£¨ì•„ìƒ ì „í™”í”½ì—…ì˜ˆì•½í–ˆì–´ìš”. ì˜ˆì•½ë˜ì„œ í¸í•˜ê³ ì¢‹..."
195,ì¤‘ì•™í†µë‹­ ë§ˆë†ì¹˜í‚¨,4.24,469,168,"['ë§›ìˆì–´ìš”~', 'ë§›ìˆì–´ì—¬ ã…‹', 'ì–‘ì´ ìš°ì„ ë§ê³ ë§›ë„ ê´œì°®ì•„ìš”', 'í•­ìƒ ë§›ìˆ..."
196,ëœë””ìŠ¤ë„ë„›,4.39,646,286,"['ë„ˆë¬´ë§‰ì‡ì˜¤ã… ã… ', 'ë„ë„› ë§›ìˆì–´ìš”', 'í¬ë¦¬ìŠ¤í”¼ë‘ ë‹¬ë¼ìš”.í¬ë¦¬ìŠ¤í”¼ëŠ” ì‚¬ë¥´ë¥´ ë…¹ëŠ”..."
197,ì»¤í”¼ë°•ë¬¼ê´€ë°”ì›€,4.26,416,142,['ë§›ìˆì—ˆì–´ìš” ì¹œì ˆí•˜ì‹œê³ ë·°ë„ì˜ˆë»ìš” ã…ã… ì¼ì¸µ ì»¤í”¼ë°•ë¬¼ê´€ ë¬´ë£ì¤„ì•Œì•˜ëŠ”ë° ì•„ë‹ˆì˜€ì–´ìš”'...
198,ì•ˆê±°ë¦¬ë°–ê±°ë¦¬,4.29,206,86,['ì˜¬ë ˆê¸¸ 6ì½”ìŠ¤..ë§¤ì¼ì˜¬ë ˆì‹œì¥ ì°¾ì•„ê°€ë‹¤ ì†ë‹˜ë“¤ì´ ë§ê¸¸ë˜ ë“¤ì–´ê°”ë‹¤. ë”ë°°ê³ ê¸°.ì˜¥ë”êµ¬...

In [41]:
df.to_csv("naver_review_data.csv", index=False, encoding='utf-8-sig')