In [1]:
import numpy as np
import pandas as pd

1. 다음과 같은 배열을 만들어라
array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

In [27]:
a0=np.zeros((3,3))
a1=np.ones((3,2))
a=np.array([(i+1)*10 for i in range(15)]).reshape(3,5)

In [36]:
h=np.hstack([a0,a1])
v=np.vstack([h,a])
np.tile(v, (2,1))

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

2. 다중 인덱스 참조 연습
Cidx1	A	              B
Cidx2	C1	C2	C1	C2
0	1.76	0.40	0.98	2.24
1	1.87	-0.98	0.95	-0.15
2	-0.10	0.41	0.14	1.45
3	0.76	0.12	0.44	0.33
4	1.49	-0.21	0.31	-0.85

- 위와 같은 구조의 데이터프레임을 제작하시오.
- B, C1 참조하시오.
- 0번 행,  B,C1  값을 참조하시오.
- 0번행 B, C1 값을 100으로 변경하시오

 
데이터프레임이 다중 인덱스를 가지는 경우에는 인덱스가 하나의 라벨이나 숫자가 아니라 ()로 둘러싸인 튜플이 되어야 한다. 예를 들어 앞에서 만든 df3 데이터프레임의 경우 다음과 같이 인덱싱할 수 있다.

In [41]:
df=pd.DataFrame(np.random.randn(5,4),
                columns=[['A','A','B','B'],
                         ['C1','C2','C1','C2']])
df.columns.names=['Cidx1','Cidx2']

In [42]:
df

Cidx1         A                   B
Cidx2        C1        C2        C1        C2
0     -1.180398  1.056912 -1.334402 -0.735832
1      2.697813  0.592829 -0.781183  0.430857
2     -0.594857  1.132704 -1.123881 -1.505817
3     -1.981741 -0.658050  0.254796 -0.407232
4     -0.042336 -2.579532 -0.444807 -2.648530

In [46]:
# 0번 행,  B,C1  값을 참조하시오.
df['B']['C1'][0]
# 0번행 B, C1 값을 100으로 변경하시오
df['B']['C1'][0] = 100

/Users/jinwon-kim/Developer/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [47]:
df

Cidx1         A                     B
Cidx2        C1        C2          C1        C2
0     -1.180398  1.056912  100.000000 -0.735832
1      2.697813  0.592829   -0.781183  0.430857
2     -0.594857  1.132704   -1.123881 -1.505817
3     -1.981741 -0.658050    0.254796 -0.407232
4     -0.042336 -2.579532   -0.444807 -2.648530

3. 연관규칙 연습 데이터셋

dataset =
1         계란, 우유
2         계란, 기저귀, 맥주, 사과
3         우유, 기저귀, 맥주, 콜라
4         계란, 우유, 맥주, 기저귀 
5         계란, 우유, 맥주, 콜라
위 데이터를 저장하고, 

X={계란, 맥주}, Y={기저귀} 인 경우에 대해
1) 지지도 계산

2) 신뢰도 계산

3) 향상도 계산

In [56]:
df_like=pd.DataFrame({'1': ['계란', '우유', np.nan, np.nan],
                     '2': ['계란','기저귀','맥주','사과'],
                     '3': ['우유','기저귀','맥주','콜라'],
                     '4': ['계란','우유','맥주','기저귀'],
                     '5': ['계란','우유','맥주','콜라']}).T
df_like

    0    1    2    3
1  계란   우유  NaN  NaN
2  계란  기저귀   맥주   사과
3  우유  기저귀   맥주   콜라
4  계란   우유   맥주  기저귀
5  계란   우유   맥주   콜라

In [115]:
a={'계란', '기저귀', '콜라', '맥주'}
s=X.union(Y)
s.intersection(a) == s

True

In [116]:
# df_set=
counter = 0
s=X.union(Y) #{'계란', '기저귀', '맥주'}
for i in np.array(df_like):
    if s.intersection(set(i)) == s:
        counter+=1
        print(counter)

1
2

In [105]:
X={'계란', '맥주'}
Y={'기저귀'}
X, Y

({'계란', '맥주'}, {'기저귀'})

In [143]:
def support(X, Y):
    counter =0
    s=X.union(Y) #{'계란', '기저귀', '맥주'}
    for i in np.array(df_like):
        if s.intersection(set(i)) == s:
            counter+=1
    s_numerator=counter
    s_denominator=len(df_like) # 5
    return s_numerator/s_denominator
support(X,Y)
print(s)

0.4

In [144]:
def confidence(X, Y):
    n_counter =0
    d_counter =0
    c=X.union(Y) #{'계란', '기저귀', '맥주'}
    for i in np.array(df_like):
        if c.intersection(set(i)) == c:
            n_counter+=1
        if X.intersection(set(i)) == X:
            d_counter+=1
    c_numerator=n_counter
    c_denominator=d_counter

    return c_numerator/c_denominator
confidence(X,Y)

0.6666666666666666

In [145]:
def lift(c,Y):
    y_counter=0
    for i in np.array(df_like):
        if Y.intersection(set(i)) == Y:
            y_counter+=1
    return c/(y_counter/len(df_like))
lift(confidence(X,Y), Y)

1.1111111111111112